*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Helvetica;
}

html{
	overflow-y: scroll;
	scroll-behavior: smooth;
	color: #999;
}

body{
	background-image: url("img/dwave.png");
	height: 300px;
	background-position: right;
	
}

header{
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
}

li, a{
	font-size: 20px;
	text-decoration: none;
	color: #fff;
}

.hms-logo{
	top: 0;
	left: 0;
	width: 300px;
}

.nav_links{
	list-style: none;
}

.nav_links li{
	display: inline-block;
	padding: 0px 20px;
}

.nav_links li a:hover,
.nav_links li a.active{
	color: #999;
}

.des{
	position: absolute;
	top: 100px;
	right: 50px;
	width: 700px;
}

.qot{
	position: absolute;
	top: 180px;
	left: 90px;
	width: 450px;
}

.btn{
	position: absolute;
	width: 180px;
	padding: 0.5rem;
	border-radius: 25px;
	outline: none;
	border: none;
	background-color: #999;
	font-size: 22px;
	color: #fff;
	cursor: pointer;
	transition: .5s;
	text-decoration: blink;
	top: 460px;
	left: 140px;
}

.btn:hover{
	background-color: #50EBEC;
}

.logbox{
	position: absolute;
	top: 580px;
	left: 50px;
	right: 50px;
	background: transparent;
}

.logbox a{
	font-size: 20px;
	text-decoration: none;
	color: #999;
	display: inline-block;
}

.logbox a:hover{
	color: #50EBEC;
}

.users{
	padding: 0;
	list-style-type: none;
}

.users li{
	display: inline-block;
	font-size: 20px;
	padding-bottom:50px;
	padding-right:50px;
	padding-left:30px;
	text-align: center;
}

.users img{
	padding: 0 20px;
}

.users h3{
	color: #50EBEC;
	padding: 10px;
}